
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-auth" }) do |f| %>
<h2>Sign up</h2>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
