<%= content_for :toolbar_left do %>
<div class="brand" style="padding:5px"><img src ="schools.png" width="200" style="float:left"></div>
<% end %>

<img src ="Logo.png" width="500" height="500" > 

<%= form_tag "/search", :class => "form-search" do %>
<div class="input-append">
	<%= search_field_tag "query", nil, :autofocus => true, :placeholder => "HSA 010 Underwater Basketweaving", :class => "search-query" %>
	<%= button_tag "Search", :class => "btn" %>
</div>
<% end %>
<!-- <img src ="Searchfor.png" width="100" height="100" > -->
<!-- <br> -->
<%= link_to "All Courses", courses_path %>




