<%= content_for :toolbar_right do %>
<p class="navbar-text pull-right">
  <%= link_to 'Back', courses_path, :class => "navbar-link", :style => "text-decoration:none;margin-left:20px" %>
</p>
<% end %>

<h1>Search Results</h1>

<% results = {"course" => @courses.length, "review" => @reviews.length}.reject {|k,v| v.zero? } %>
<% if results.empty? %>
<p>No results found! <%= link_to 'Back', :back %></p>
<% else %>
<p><%= results.map {|k,v| pluralize(v, k) }.join " and " %> found.</p>
<% end %>

<% unless @courses.empty? %>
	<h2>Courses</h2>
	<table class ="table table-condensed table-striped">
	  <tr>
	    <th>Code</th>
	    <th>Title</th>
	  </tr>
	<% @courses.each do |course| %>
	  <tr>
	    <td><%= course.code %></td>
	    <td><%= link_to course.title, course %></td>
	  </tr>
	<% end %>
	</table>
<% end %>

<% unless @reviews.empty? %>
	<h2>Reviews</h2>
	<table class ="table table-condensed table-striped">
	  <tr>
	    <th>Course</th>
	    <th>Comment</th>
	  </tr>
	<% @reviews.each do |review| %>
	  <tr>
	    <td><%= review.course.code %></td>
	    <td><%= review.comment %></td>
	  </tr>
	<% end %>
	</table>
<% end %>
