
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-auth" }) do |f| %>
<h2>Sign in</h2>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div> <%= f.label :remember_me, :class => "checkbox" do %><%= f.check_box :remember_me %> Remember me<% end %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
