<%= content_for :toolbar_right do %>
<p class="navbar-text pull-right">
  <%= link_to 'Back', "/", :class => "navbar-link", :style => "text-decoration:none;margin-left:20px" %>
</p>
<% end %>

<h1>Courses</h1>

<table class ="table table-condensed table-striped">
  <tr>
    <th>Code</th>
    <th>Title</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.code %></td>
    <td><%= link_to course.title, course %></td>
    <!-- <td><%= link_to 'Edit', edit_course_path(course) %></td> -->
    <!-- <td><%= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<% if current_user.try(:professor?) %><%= link_to 'New Course', new_course_path %><% end %>
