<%= content_for :toolbar_left do %>
<a class="brand" href="#"><%= @course.code %></a>
<% end %>
<%= content_for :toolbar_right do %>
<p class="navbar-text pull-right">
  <%= link_to 'Back', courses_path, :class => "navbar-link", :style => "text-decoration:none;margin-left:20px" %>
</p>
<ul class="nav">
  <li><a href="#">Review</a></li>
  <% if current_user.try(:professor?) %><li><%= link_to 'Edit', edit_course_path(@course) %></li><% end %>
</ul>
<% end %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
            <a href="/"><img src ="/Logo.png" /></a>

    </div>

    <div class="span10">
        <!--Body content-->


        <% if notice %><p id="notice"><%= notice %></p><% end %>

        <dl class="dl-horizontal">
          <dt class="course_title">Title:</dt>
          <dd><%= @course.title %></dd>


          <dt class="course_code">Code:</dt>
          <dd><%= @course.code %></dd>


          <dt class="course_description">Description:</dt>
          <dd><%= @course.description %>&nbsp;</dd>
		  
		  <% unless @reviews.empty? %>
		  <% times = @reviews.map(&:homework_time).compact %>
		  <dt>Average homework:</dt>
		  <dd><%= pluralize(times.sum / times.length, "hour") %> per week</dd>
		  <% end %>
        </dl>
		
		
		<% if @reviews.empty? %>
		This course has no reviews.
		<% else %>
		<h3><%= pluralize(@reviews.count, "Reviews") %></h3>
		<table class="table table-striped">
		<% for review in @reviews %>
		<tr>
			<td width="200"><small>
				Homework per week: <%= pluralize(review.homework_time, "hour") %><br>
				Taken in <%= review.semester %><br>
				Class of <%= review.reviewer_year %><br>
			</small></td>
			<td style="font-size:120%">&ldquo;<%=h review.comment %>&rdquo;</td>
		</tr>
		<% end %>
		</table>
		<% end %>
        
        <h4><a data-toggle="collapse" href="#theform" class="btn">Review this Course</a></h4>
        <%= form_for([@course, @course.reviews.build], :html => { :id => "theform", :class => "collapse" }) do |f| %>
        <div class="field">
          <%= f.text_field :semester, :placeholder => "Semester taken", :class => "span4" %>
        </div>
        <div class="field">
		  <%= f.label :user_id do%>Professor: <%= f.collection_select(:user_id, User.where(:professor => true), :id, :email) %><% end %>
        </div>
        <div class="field">
          <%= f.number_field :reviewer_year, :placeholder => "Your class year", :class => "span4" %>
        </div>
        <div class="field">
          <%= f.label :public, :class => "checkbox" do %><%= f.check_box :public %> Allow my review to be publicly visible<% end %>
        </div>
        <div class="field">
          <%= f.number_field :homework_time, :placeholder => "Hours spent on homework per week", :class => "span4" %>
        </div>
        <div class="field">
          <%= f.text_area :comment, :cols => 40, :rows => 5, :placeholder => "Comments (optional)", :class => "span4" %>
        </div>
        <div class="actions">
          <%= f.submit "Post Review", :class => "btn btn-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>