<!DOCTYPE html>
<html>
<head>
  <title>5C Course Reviews</title>
  <% if notice %><div class="alert alert-info"><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></div><% end %>
  <% if alert %><div class="alert alert-error"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></div><% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
	  <%= yield :toolbar_left %>
	  <!-- Login form -->
      <div class="nav-collapse collapse">
	  <%= yield :toolbar_right %>
	  <% if user_signed_in? %>
	    <p class="navbar-text pull-right"><%= current_user.email %> (<%= link_to "sign out", destroy_user_session_path, :method => :delete %>)</p>
	  <% else %>
	    <%= form_for("user", :url => user_session_path, :html => {:class => "navbar-form pull-right"}) do |f| %>
	      <%= f.text_field :email, :placeholder => "Email", :class => "span2" %>
	      <%= f.password_field :password, :placeholder => "Password", :class => "span2" %>
	      <%= f.submit 'Sign in', :class => "btn" %>
	    <% end %>
	  <% end %>
	  </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
