<!DOCTYPE html>
<html>
<head>
  <title>5C Course Reviews: Authentication</title>
  <% if notice %><div class="alert alert-info"><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></div><% end %>
  <% if alert %><div class="alert alert-error"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></div><% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <style>
	  body {
		  background-color: #f5f5f5;
		  max-width: 360px;
		  margin: 0px auto;
	  }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><a href="/">Home</a></p>
<%= yield %>

</body>
</html>
